html {
    width: 100%;
	height: 100%;
}
/* ubrat` vce selectori tipa p
obraschatsa tol`ko cherz class */

body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
    outline: none;
}

.logo {
	float: left;
	padding-left: 30px;
}

.nav {
	padding-left: 450px;
	display: flex;
	list-style: none;
}

.nav li {
	padding-left: 25px;
	text-transform: uppercase;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

header {
	height: 600px;
	background-color: #87509c;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: white;
}

.navLink {
	text-decoration: none;
	color: white;
	font-weight: 20;
}

.headerButton {
	background-color: #eb7d4b;
	height: 60px;
	width: 291px;
	font-size: 18px;
	margin-top: -100;
	color: white;
	text-transform: uppercase;
}

.headerText {
    font-size: 38px;
	width: 53%;
	text-align: center;
}

.services {
	height: 650px;
	background-color: #17c2a4;
	color: white;
	padding: -20 50px;
}

h2 {
	padding-top: 120px;
	color: white;
	text-align: center;
	font-size: 34px;
	text-transform: uppercase;
}

hr {
	height: 4px;
	background-color: #000000;
	opacity: 0.15;
	width: 4%;
	border: none;
	margin: 18px auto;
}

p {
	text-align: center;
	font-size: 18;
	margin-bottom: 85px;
}

.servicesProp {
	float: left;
	text-align: center;
	width: 20%;
	padding: 15px;
	margin-left: 100;
}

.title {
	font-size: 24px;
	text-transform: uppercase;
}

.team {
	background-color: #e7f1f8;
	height: 915px;
    padding: 0 50;
	
}

h3 {
	padding-top: 120px;
	color: black;
	font-size: 34px;
	text-align: center;
	text-transform: uppercase;
}

.teammate {
	text-align: cetner;
	float: left;
	width: 15%;
	margin-left: 70px;
	padding-left: 30px;
}

.ourSkills {
	height: 650px;
	padding: 0 50;
}

.skills {
	display: flex;
	list-style: none;
	justify-content: space-between;
	width: 43%;
	padding-left: 120px;
    text-transform: uppercase;	
}

.portfolio {
	height: 1420px;
	background-color: #ffdd99;
	text-align: center
}

.portfolioButton{
	opacity: 0.15;
	height: 38px;
	width: 85px;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 70px;
}

.porfolioWorks {
	float: left;
	width: 40%;
	margin-right: 30px;
}

.moreProjectButton{
	float: left;
	background-color: #17c2a4;
	height: 60px;
	width: 291px;
	margin-top: 70px;
	font-size: 18px;
	color: white;
	text-transform: uppercase;
}

.peopleSay {
	background-color: #d74680;
	height: 900px;
	color: white;
	padding: 0 50;
}

.client {
	width: 35%;
	float: left;
	margin-right: 20px;
}

.getInTouch {
	background-color: #3c5499;
	height: 819px;
	text-align: center;
	color: white;
	padding: 0 50;
}

.getInTouchButton {
	background-color: #30bae7;
	height: 60px;
	width: 291px;
	font-size: 18px;
	text-transform: uppercase;
	margin: 50px;
}
.name {
	background-color: #273a71;
	height: 54px;
	width: 409px;
}

.email {
	background-color: #273a71;
	height: 54px;
	width: 409px;
}

.message {
	background-color: #273a71;
	height: 200px;
	width: 855px;
	margin-top: 30px;
}

.linksSite {
	height: 111px;
	background-color: #344b8e;
}

.links {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	padding: 20px;
}

.links li {
	color: white;
}

.skilsDiv {
	display: flex;
	flex-direction: row;
}

section {
	padding: 0 80px;
}